@media (prefers-color-scheme: dark) {
  :root {
    --tr-alternate-color: #222;
  }
  body {
    background-color: #111;
    color: #e4e4e4;
  }
  a {
    color: #569cd6;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --tr-alternate-color: #ddd;
  }
}

body {
  max-width: 50em;
  margin: 0 auto;
  text-align: justify;
}

footer {
  position: relative;
  width: 100%;
  margin: 3rem auto 0 auto;
  font-size: small;
  text-align: center;
}

th, td {
  padding: 2px 10px;
}

tr:nth-child(even) {
  background-color: var(--tr-alternate-color);
}
